*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    height: auto;
    font-family: Helvetica, Arial, sans-serif;
       
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    color:black;
    background-color:white;
    padding: 0px 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.box{
    padding: 100px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 10px 10px 8px white;
    border-radius: 25px;
}

.box > p{
    margin: 10px 0px;
}

.box > button{
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: purple;
}

.hide{
    display: none
}

.box > div{
    margin-top: 20px;
}

.response{
    background-color: purple;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.btn{
    background-color: purple;
    color: white;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.line{
    border: 1px solid white;
}

#initial{
    width: 100px;
    height: 20px;
}

.timer{
    display: flex;
}

#leaderboard{
    cursor: pointer;
}

#players{
    margin: 10px 0px 10px 25px;
}
